:root {
  --flui-color-blue: blue;
  --flui-color-black: black;
  --flui-color-yellow: yellow;
  --flui-color-red: red;
  --flui-color-green: green;
  --flui-color-white: white;
}

body {
  img {
    background: red;
  }
}